.menu {
	padding-top: 3%;
	border: 2px solid red;
	text-align: center;
	h2 {
		color: yellow;
		font-size: 4rem;
	}
	#menu-line {
		width: 90%;
		margin: 0 auto;
		border: none;
		border-radius: 20px;
		height: 2px;
		background-color: yellow;
	}
}
